venv/
__pycache__/
*.pyc
*.pt
*.pth
*.onnx

runs/*
!runs/detect/
!runs/detect/train/
!runs/detect/train/weights/
!runs/detect/train/weights/best.pt

*.png
*.jpg
*.jpeg
*.mp4
*.avi

.env
ui_outputs/
data/meta_test/
data/synthetic_test_maps/
.idea/
.vscode/
.DS_store